<ion-toolbar color="primary">
  <ion-title class="titulo">Tereza Corazón</ion-title>
</ion-toolbar>

<ion-content>
  <ion-slides size="12" [options]="option"  class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/teresita-corazon/teresita-portada.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
       <a routerLink="/"> <img src="../../../assets/imgs/Nuestraong/teresita-corazon/teresita2.jpg"> </a>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/teresita-corazon/teresita3.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>

 
    <ion-card class="tamañocard">
      <ion-card-header>
        <ion-card-title>FUNDACIÓN TERESITA CORAZÓN</ion-card-title>
      </ion-card-header>
      <ion-card-content class="informacion">
        En la FUNDACIÓN TERESITA CORAZÓN creemos en una segunda oportunidad, somos una fundación sin ánimo de lucro, orientada  a brindar asistencia psicosocial a los niños con afecciones cardiacas. Además brindará cuidados con programas de salud a través de la alianza con la organización CORAZÓN COLOMBIA y la FUNDACIÓN SHAIO; dirigidos a familias vulnerables de sectores deprimidos y que tengan niños entre 1 a 18 años con problemas cardiovasculares, del ámbito Nacional e Internacional.
        Operamos y damos vida a los sueños!  
      </ion-card-content>
      <div class="factura">
        <ion-button color="primary">Factura</ion-button>
      </div>      
    </ion-card>
</ion-content>
