<ion-toolbar color="primary">
  <ion-title class="titulo">FUNDACION META VISIBLE ONG</ion-title>
</ion-toolbar>


  <!--MENU DE OPCIONES -->
<ion-content>
<ion-grid fixed class="card-background-page">
  <ion-row>
    <ion-col size="6" >
      <ion-slide>
      <ion-card class="dimenciones">
        <a routerLink="salud"> <img src="../../../assets/imgs/ejes/salud/salud-portada.jpg"> 
        <div class="card-title">SALUD</div> </a>
      </ion-card>
    </ion-slide>
  </ion-col>
    <ion-col size="6">
      <ion-slide>
        <ion-card class="dimenciones">
         <a routerLink="belleza"> <img src="../../../assets/imgs/ejes/belleza/belleza-portada.jpg"> 
          <div class="card-title">BELLEZA</div> </a>
        </ion-card>
      </ion-slide>
    </ion-col>   
  </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
            <a routerLink="recreacion"> <img src="../../../assets/imgs/ejes/recreacion/recreacion-portada.jpg"> 
            <div class="card-title">RECREACIÓN</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
            <a routerLink="p-productivos"><img src="../../../assets/imgs/ejes/proyectos-productivos/proyectos-productivos-portada.jpg"> 
            <div class="card-title">PROYECTOS PRODUCTIVOS</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
           <a routerLink="b-animal"> <img src="../../../assets/imgs/ejes/bienestar-animal/bienestar-animal-portada.jpg"> 
             <div class="card-title">BIENESTAR ANIMAL</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
           <a routerLink="reforestacion"> <img src="../../../assets/imgs/ejes/reforestacion/reforestacion-portada.jpg"> 
           <div class="card-title">REFORESTACIÓN</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-slide>
          <ion-card class="dimenciones">
           <a routerLink="infraestructura"> <img src="../../../assets/imgs/ejes/infraestructura/infraestructura-portada.jpg">
           <div class="card-title">INFRAESTRUCTURA</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
</ion-grid> 
</ion-content>
