<ion-toolbar color="primary">
  <ion-title class="titulo">SALUD</ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true">
<!--CONTENIDO SLIDERS-->
  <ion-slides size="12" [options]="option"  class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../../assets/imgs/ejes/salud/dientes2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
       <a routerLink="/"> <img src="../../../../assets/imgs/ejes/salud/salud (2).jpg"> </a>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../../assets/imgs/ejes/salud/SALUD.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!--MENU DE OPCIONES -->

  <ion-card class="tamañocard">
    <ion-card-header>
      <ion-card-title>SALUD</ion-card-title>
    </ion-card-header>
    <ion-card-content class="informacion">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quod modi aut at aliquid sunt dignissimos tenetur asperiores? Incidunt quis quisquam vero officiis ipsam ipsum repellendus odit totam fugiat corrupti.
    </ion-card-content>
    <div class="factura">
      <ion-button color="primary">Factura</ion-button>
    </div>      
  </ion-card>
</ion-content> 
