<ion-content>
  <div class="toolbar" class="ion-text-start">
    <ion-icon  name="chevron-back-outline"></ion-icon>
  </div>
  <img size="12" class="home" src="../../../assets/backgroud/prueba-portada.png" width="100%"> 
  

<!--SLIDER-->
<div class="cont-slider">
  <!--CONTENIDO SLIDERS-->
  <ion-slides size="12" [options]="option"  class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/slider-fotos/1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
       <a routerLink="/"> <img src="../../../assets/imgs/Nuestraong/slider-fotos/2.jpg"> </a>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/slider-fotos/3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/slider-fotos/4.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
<!--SLIDER-->

<!--CONTENIDO-->  
  <div class="contenido">
 <ion-card style="background-color: aliceblue;">
  <ion-item>
    <img src="https://img.icons8.com/fluent/60/fa314a/conference.png" style="padding: 5px;">
    <h4>NUESTRA ONG</h4>
    <ion-button slot="end" routerLink="/nuevo-menu">Ver</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/60/fa314a/groups.png" style="padding: 5px;">
    <h4>EJES TRANSVERSALES</h4>
    <ion-button slot="end" routerLink="/belleza">Ver</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/60/fa314a/franchise.png" style="padding: 5px;">
    <h4>ACTIVIDADES</h4>
    <ion-button slot="end" routerLink="/casai">Ver</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/60/fa314a/trophy.png" style="padding: 5px;">
    <h4>BENEFICIOS</h4>
    <ion-button slot="end" routerLink="/casai">Ver</ion-button>
  </ion-item>
</ion-card>
</div>
<!--CONTENIDO-->  
</ion-content>
