<ion-toolbar class="ion-text-center">
  <img width="40%" src="../../../assets/imgs/logo/logo-blanco.png" >
</ion-toolbar>

<ion-content [fullscreen]="true">
<!--CONTENIDO SLIDERS-->
  <ion-slides size="12" [options]="option"  class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/slider-fotos/1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
       <a routerLink="/"> <img src="../../../assets/imgs/Nuestraong/slider-fotos/2.jpg"> </a>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/slider-fotos/3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/slider-fotos/4.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!--MENU DE OPCIONES -->

<ion-grid fixed class="card-background-page">
  <ion-row>
    <ion-col size="6" >
      <ion-slide>
      <ion-card class="dimenciones">
        <a routerLink="/nuestra-ong"> <img src="../../../assets/imgs/Nuestraong/nuestra-ong-portada.jpg"> </a>
        <div class="card-title">NUESTRA ONG</div>
      </ion-card>
    </ion-slide>
  </ion-col>
    <ion-col size="6">
      <ion-slide>
        <ion-card class="dimenciones">
          <a routerLink="/ejes">   <img src="../../../assets/imgs/ejes/ejes-portada.jpg">
          <div class="card-title">EJES TRANSVERSALES</div> </a>
        </ion-card>
      </ion-slide>
    </ion-col>   
  </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
            <img src="../../../assets/imgs/actividades/actividades-portada.jpg">
            <div class="card-title">ACTIVIDADES</div>
          </ion-card>
        </ion-slide>
      </ion-col>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
            <img src="../../../assets/imgs/beneficios/beneficios-portada.jpg">
            <div class="card-title">BENEFICIOS</div>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
</ion-grid> 
</ion-content> 







  <!--CONTENIDO CARDS 

  <ion-grid  >
    <ion-row class="card-background-page">
      <ion-col size="6">
        <ion-card-header class="dimenciones">
        <img class="dimenciones" src="https://picsum.photos/500/500"/>
      
      </ion-card-header>
      </ion-col>

      <ion-col size="6">
        <ion-card-header class="dimenciones">
        <img class="dimenciones" src="https://picsum.photos/500/500"/>
      </ion-card-header>
      </ion-col>
    </ion-row>


    <ion-row class="card-background-page">
      <ion-col size="6">
        <ion-card-header class="dimenciones">
        <img class="dimenciones" src="https://picsum.photos/500/500"/>
       
      </ion-card-header>
      </ion-col>

      <ion-col size="6">
        <ion-card-header class="dimenciones">
        <img class="dimenciones" src="https://picsum.photos/500/500"/>
      </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
 
 <!--- <div class="card-background-page">
   size="3" size-lg="2" size-md="2" size-sm="6" size-xs="12"
    <ion-card class="informacio">
      <img src="https://picsum.photos/500/500"/>
      <div class="card-title">NUESTRA ONG</div>
      <div class="card-subtitle">41 Listings</div>
    </ion-card>

    <ion-card class="informacio">
      <img src="https://picsum.photos/seed/picsum/700/700"/>
      <div class="card-title">EJES TRANSVERSALES</div>
      <div class="card-subtitle">41 Listings</div>
    </ion-card>
  </div>

  <div class="card-background-page">
    <ion-card class="informacio2">
      <img src="https://picsum.photos/500/500?grayscale"/>
      <div class="card-title">ACTIVIDADES</div>
      <div class="card-subtitle">41 Listings</div>
    </ion-card>
  </div>

  <div class="card-background-page">
      <ion-card class="informacio3">
        <img src="https://picsum.photos/200"/>
        <div class="card-title">BENEFICIADOS</div>
        <div class="card-subtitle">41 Listings</div>
      </ion-card> 
    </div> -->

