<ion-toolbar color="primary">
  <ion-title class="titulo">NUESTRA ONG</ion-title>
</ion-toolbar>


  <!--MENU DE OPCIONES -->
<ion-content class="background">
<ion-grid fixed class="card-background-page">
  <ion-row>
    <ion-col size="6" >
      <ion-slide>
      <ion-card class="dimenciones">
        <a routerLink="/belleza"> <img src="https://image.freepik.com/foto-gratis/montanas-bukhansan-estan-cubiertas-niebla-manana-amanecer-parque-nacional-bukhansan-seul-corea-sur_335224-305.jpg"> 
        <div class="card-title">BELLEZA</div> </a>
      </ion-card>
    </ion-slide>
  </ion-col>
    <ion-col size="6">
      <ion-slide>
        <ion-card class="dimenciones">
         <a routerLink="/casai"> <img src="https://image.freepik.com/foto-gratis/exito-mujer-excursionista-senderismo-pico-montana-amanecer-mujer-joven-mochila-subir-cima-montana-concepto-destino-viaje-descubrimiento_169160-17.jpg"> 
          <div class="card-title">CASAI</div> </a>
        </ion-card>
      </ion-slide>
    </ion-col>   
  </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
            <a routerLink="/teresitacorazon"> <img src="https://image.freepik.com/foto-gratis/hermoso-paisaje-impresionante-amanecer-que-refleja-mar_181624-16946.jpg"> 
            <div class="card-title">TERESITA CORAZÓN</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
            <a routerLink="/pendulo"><img src="https://image.freepik.com/foto-gratis/fondo-negro-geometrico-tecnologia-3d_53876-97124.jpg"> 
            <div class="card-title">PENDULO</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
           <a  routerLink="/td-aportamos"> <img style="width: 150px;" src="https://image.freepik.com/foto-gratis/render-3d-fondo-techno-moderno-particulas-fluidas_1048-14173.jpg"> 
             <div class="card-title">TODOS APORTAMOS</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
           <a routerLink="/cjhr-sas"> <img src="https://image.freepik.com/foto-gratis/montanas-seoraksan-estan-cubiertas-niebla-manana-amanecer-seul-corea_335224-313.jpg"> 
           <div class="card-title">CJHR S.A.S</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-slide>
          <ion-card class="dimenciones">
           <a routerLink="/noah-h"> <img src="https://image.freepik.com/foto-gratis/montana-piedras-sol-brillante-amanecer_181624-22191.jpg">
           <div class="card-title">FUNDACION NOAH-H</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
</ion-grid> 
</ion-content>
