<ion-toolbar color="primary">
  <ion-title class="titulo">NUESTRA ONG</ion-title>
</ion-toolbar>


  <!--MENU DE OPCIONES -->
  <ion-content>

<ion-grid fixed class="card-background-page">
  <ion-row>
    <ion-col size="6" >
      <ion-slide>
      <ion-card class="dimenciones">
        <a routerLink="/belleza"> <img src="../../../assets/imgs/Nuestraong/belleza/belleza.jpg"> 
        <div class="card-title">BELLEZA</div> </a>
      </ion-card>
    </ion-slide>
  </ion-col>
    <ion-col size="6">
      <ion-slide>
        <ion-card class="dimenciones">
         <a routerLink="/casai"> <img src="../../../assets/imgs/Nuestraong/casai/casai-portada.jpg"> 
          <div class="card-title">CASAI</div> </a>
        </ion-card>
      </ion-slide>
    </ion-col>   
  </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
            <a routerLink="/teresitacorazon"> <img src="../../../assets/imgs/Nuestraong/teresita-corazon/teresita-portada.jpg"> 
            <div class="card-title">TERESITA CORAZÓN</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
            <a routerLink="/pendulo"><img src="../../../assets/imgs/Nuestraong/pendulo/pendulo-portada.jpg"> 
            <div class="card-title">PENDULO</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
           <a routerLink="/td-aportamos"> <img src="../../../assets/imgs/Nuestraong/todos-aportamos/pendulo-portada.jpeg"> 
             <div class="card-title">TODOS APORTAMOS</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
      <ion-col size="6">
        <ion-slide>
          <ion-card class="dimenciones">
           <a routerLink="/cjhr-sas"> <img src="../../../assets/imgs/Nuestraong/cjhr-sas/cjhr-sas-portada.jpg"> 
           <div class="card-title">CJHR S.A.S</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-slide>
          <ion-card class="dimenciones">
           <a routerLink="/noah-h"> <img src="../../../assets/imgs/Nuestraong/noah-h/noah-portada.jpg">
           <div class="card-title">FUNDACION NOAH-H</div> </a>
          </ion-card>
        </ion-slide>
      </ion-col>
    </ion-row>
</ion-grid> 
</ion-content>
