<ion-toolbar color="primary">
  <ion-title class="titulo">Belleza</ion-title>
</ion-toolbar>

<ion-content>
  <ion-slides size="12" [options]="option"  class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/casai/casai.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
       <a routerLink="/"> <img src="../../../assets/imgs/Nuestraong/casai/casai2.jpg"> </a>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/casai/casai-portada.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>

 
    <ion-card class="tamañocard">
      <ion-card-header>
        <ion-card-title>CASAI</ion-card-title>
      </ion-card-header>
      <ion-card-content class="informacion">
        La CORPORACIÓN PARA LA CAPACITACIÓN DE SALUD INTEGRAL "CASAI", 
        es una institución de formación para el trabajo y desarrollo humano, 
        que forma en ciencias de salud, con un alto sentido ético, humano y pedagógico, 
        capaces de orientar, asistir y participar en el cuidado integral del paciente y su familia. 
        Desarrollando prácticas que promueva la salud y prevenga la enfermedad en el área comunitaria, 
        clínica y empresarial; actuando con éxito en el campo laboral de la salud, a través de un equipo 
        humano profesional comprometido y competente.  
      </ion-card-content>
      <div class="factura">
        <ion-button color="primary">Factura</ion-button>
      </div>      
    </ion-card>
</ion-content>
