<ion-content>
  <div class="toolbar" class="ion-text-start">
    <ion-icon  name="chevron-back-outline" routerLink="/feed"></ion-icon>
  </div>
  <img class="home" src="../../assets/backgroud/gradient_2.jpg" width="100%"> <h1 class="titulo-barber">NUESTRA ONG</h1> 

  <div class="contenido">
 <ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/60/fa314a/heart-plus.png" style="padding: 5px;">
    <h4> Teresita Corazón</h4>
    <ion-button slot="end" routerLink="/teresitacorazon">Ver</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/60/fa314a/lipstick.png" style="padding: 5px;">
    <h4> Belleza</h4>
    <ion-button slot="end" routerLink="/belleza">Ver</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/60/fa314a/what-i-do.png" style="padding: 5px;">
    <h4>CASAI</h4>
    <ion-button slot="end" routerLink="/casai">Ver</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/60/fa314a/baby-feet.png" style="padding: 5px;">
    <h4>Pendulo</h4>
    <ion-button slot="end" routerLink="/pendulo">Ver</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/60/fa314a/group.png" style="padding: 5px;">
    <h4>Todos Aportamos</h4>
    <ion-button slot="end" routerLink="/td-aportamos">Ver</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/48/fa314a/shopping-cart-loaded.png" style="padding: 5px;">
    <h4>CJHR-SAS</h4>
    <ion-button slot="end" routerLink="/cjhr-sas">Ver</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <img src="https://img.icons8.com/fluent/48/fa314a/change-user-male.png" style="padding: 5px;">
    <h4>NOAH-H</h4>
    <ion-button slot="end" routerLink="/noah-h">Ver</ion-button>
  </ion-item>
</ion-card>
</div>
</ion-content>
