ion-icon{
    zoom:2;
    color: #e6d8d8; 
    margin-top: 5px;
    padding: 5px;
    margin-left: 5px;
   }

.home{ 
    border-radius: 0 0 1341px 337%/514px;
    object-fit: cover;
    margin-top: -122px;
  }
  .titulo-barber{
    font-weight: 1000;
    color: #ffffff;
    margin-top: -39%;
    letter-spacing: 0px;
    text-shadow: 6px 3px 3px #000157;
    margin-left: 75px;
}


.contenido{
    margin: 4px;
    margin-bottom: auto;
    margin-top: 48px;
  }

  ion-card{
    border-radius: 20px;
  }

  .ingresar{
    font-size: 15px;
    margin-bottom: 5px;
    color: #282828;
  }

  h4{
    @import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
    font-family: 'Hammersmith One', sans-serif;
    color: #282828;
    font-size: 16px;
  }

  h1.titulo-barber {
    text-align: center;
    margin-right: 81px;
}