<ion-content fullscreen class="ion-text-center background">  
  
  <div class="toolbar" class="ion-text-start">
    <ion-icon  name="chevron-back-outline" routerLink="/nuevo-menu"></ion-icon>
  </div>
  
   <img class="home" src="../../../assets/imgs/Nuestraong/belleza/girl.jpg" width="100%"/> <h1 class="titulo-barber">BELLEZA</h1> 
   

 <div class="ion-text-justify informacion" > 
  <ion-card-title class="titulo"> Belleza</ion-card-title> 
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus totam omnis, sunt voluptate amet voluptates rem aliquam assumenda nam labore pariatur consectetur numquam soluta, temporibus odit doloremque eligendi non quod..
    <div class="button-login ion-text-center">
      <ion-button color="primary">FACTURA</ion-button>
    </div>
  </div>

  
</ion-content>