<ion-toolbar color="primary">
  <ion-title class="titulo">Belleza</ion-title>
</ion-toolbar>

<ion-content>
  <ion-slides size="12" [options]="option"  class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/imgs/Nuestraong/belleza/belleza.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
       <a routerLink="/"> <img src="../../../assets/imgs/Nuestraong/belleza/peluquiada.jpg"> </a>
      </ion-card>
    </ion-slide>
  </ion-slides>

 
    <ion-card class="tamañocard">
      <ion-card-header>
        <ion-card-title>Grupo Elite De Belleza</ion-card-title>
      </ion-card-header>
      <ion-card-content class="informacion">
        El GRUPO ELITE DE BELLEZA es un instituto comprometido en ofrecer los servicios
        de educación con la más alta calidad, aportando a nuestros alumnos los conocimientos
        necesarios basados desde la experiencia, para que desarrollen al máximo todas sus 
        habilidades y lograr mujeres económicamente independientes.
      </ion-card-content>
      <div class="factura">
        <ion-button color="primary">Factura</ion-button>
      </div>      
    </ion-card>
</ion-content>
