
  ion-icon{
  zoom:2;
  color: #e6d8d8; 
  margin-top: 5px;
  padding: 5px;
  margin-left: 5px;
 }

.home{
  height: 50%;
  border-radius: 0 0 600px 0%/150px;
  object-fit: cover;
  margin-top: -70px;
}

.titulo-barber{
  font-size: xx-large;
  font-weight: 1000;
  color:#ffffff;
  margin-top: -25%;
  letter-spacing: 1px;
  text-shadow: 1px 0 #000000;
} 

.titulo{
  font-size: 20;
  font-weight: 1000;
  color:#181717;
  margin-top: -10%;
  padding: 10px;
  letter-spacing: 1px;
  
}

.informacion{
  margin-top: 25%;
  font-size: 17px;
  padding: 20px;
}

ion-button{
  width: 230px;
  height: 45px;

  color: #ffffff;
  --border-radius: 30px !important;
  --ion-color-btn: #424242;
  --background: var(--ion-color-btn);
  font-weight: bold;

  font-size: 25px;
  font-weight: 1000;
  color:#ffffff;
  margin-top: 20%;
  text-shadow: 1px 0 #000000;
 }