<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fundacione ONG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--CONTENIDO SLIDERS-->
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="https://picsum.photos/500/500">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
       <a routerLink="/prueba"> <img src="https://picsum.photos/seed/picsum/700/700"> </a>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://picsum.photos/500/500?grayscale">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!--CONTENIDO CARDS-->

  <div class="card-background-page">
    <ion-card class="informacio">
      <img src="https://picsum.photos/500/500"/>
      <div class="card-title">NUESTRA ONG</div>
      <div class="card-subtitle">41 Listings</div>
    </ion-card>

    <ion-card class="informacio">
      <img src="https://picsum.photos/seed/picsum/700/700"/>
      <div class="card-title">EJES TRANSVERSALES</div>
      <div class="card-subtitle">41 Listings</div>
    </ion-card>
  </div>

  <div class="card-background-page">
    <ion-card class="informacio2">
      <img src="https://picsum.photos/500/500?grayscale"/>
      <div class="card-title">ACTIVIDADES</div>
      <div class="card-subtitle">41 Listings</div>
    </ion-card>
  </div>

  <div class="card-background-page">
      <ion-card class="informacio3">
        <img src="https://picsum.photos/200"/>
        <div class="card-title">BENEFICIADOS</div>
        <div class="card-subtitle">41 Listings</div>
      </ion-card>
    </div>
</ion-content>
