
//Sliders Cards
ion-card{
  width: 100%;
  width: 310px;
  height: 180px;
  box-shadow: none;
  border-radius: 12px;
  text-align: center;

   img {
     object-fit: cover;
     width: 100%;
     transform: scale(1.1, 1.1) rotate(1deg);
     transition: 600ms all ease-in-out;
   }
}

.swiper-slide-active{
transform:scale(1.05, 1.05);
    
    ion-card{
      img{
        transform: scale(1,1);
      }
    }
 
}

.swiper-slide{
  transition: 440ms all ease-in-out;
}

//Cards noticias

.card-background-page {

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .informacio{
    width: 150px;
    height: 150px;
    margin-left: 17px;
    margin-top: 20px;
  }

  .informacio2{
    width: 150px;
    height: 150px;
    margin-left: 190px;
    margin-top: -330px;
  }

  .informacio3{
    width: 150px;
    height: 150px;
    margin-left: 190px;
    margin-top: 20px;
  }

}